Xft.dpi:   100

! Colors imported from:
! Source: https://github.com/dracula/xresources/blob/master/Xresources

! Dracula Xresources palette
*.foreground: #F8F8F2
*.background: #282A36
*.color0:     #000000
*.color8:     #4D4D4D
*.color1:     #FF5555
*.color9:     #FF6E67
*.color2:     #50FA7B
*.color10:    #5AF78E
*.color3:     #F1FA8C
*.color11:    #F4F99D
*.color4:     #BD93F9
*.color12:    #CAA9FA
*.color5:     #FF79C6
*.color13:    #FF92D0
*.color6:     #8BE9FD
*.color14:    #9AEDFE
*.color7:     #BFBFBF
*.color15:    #E6E6E6

!! XTERM

*VT100.colorBDMode:    true
*VT100.colorBD:        red
*VT100.colorULMode:    true
*VT100.colorUL:        cyan

*VT100.locale:         true
*VT100.veryBoldColors: 6


! Use a truetype font and size.
*VT100.renderFont: true
*VT100.faceName: Hack
*VT100.faceSize: 8
*VT100.scaleHeight: 0.9
*VT100.veryBoldColors: 6

!! Zoom keybindings
*VT100.translations: #override \n\
  Ctrl <Key> minus: smaller-vt-font() \n\
  Ctrl <Key> plus: larger-vt-font()

