Xft.dpi:   100

! Source: https://github.com/jef/everforest-xresources

! Everforest Xresources palette
! special
*.foreground:   #d3c6aa
*.background:   #232a2e
*.cursorColor:  #d3c6aa

! black
*.color0:       #7a8478
*.color8:       #7a8478

! red
*.color1:       #e67e80
*.color9:       #e67e80

! green
*.color2:       #a7c080
*.color10:      #a7c080

! yellow
*.color3:       #dbbc7f
*.color11:      #dbbc7f

! blue
*.color4:       #7fbbb3
*.color12:      #7fbbb3

! magenta
*.color5:       #d699b6
*.color13:      #d699b6

! cyan
*.color6:       #83c092
*.color14:      #83c092

! white
*.color7:       #d3c6aa
*.color15:      #d3c6aa

!! XTERM

*VT100.colorBDMode:    true
*VT100.colorBD:        red
*VT100.colorULMode:    true
*VT100.colorUL:        cyan

*VT100.locale:         true
*VT100.veryBoldColors: 6


! Use a truetype font and size.
*VT100.renderFont: true
*VT100.faceName: Hack
*VT100.faceSize: 8
*VT100.scaleHeight: 0.9
*VT100.veryBoldColors: 6

!! Zoom keybindings
*VT100.translations: #override \n\
  Ctrl <Key> minus: smaller-vt-font() \n\
  Ctrl <Key> plus: larger-vt-font()

